//Theme's color palette
$white: #ffffff;
$purple: #7554e2;
$grey: #19042d;
$green: #2fedb7;
$red: #ff0000;
$pink: #e149b2;

$white-light: #fafaf6;
$purple-light: #7554e2;
$grey-light: #f6f3ff;
$green-light: #deffed;

$purple-dark: #4d008c;
$grey-dark: #a2a9c8;
