.vim-container {
  max-width: 681px;
  margin: auto;
  margin-top: 30px;
}

.vim-loader-container {
  text-align: center;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
